.divMain{
  display: flex; 
  flex-direction: column;
  justify-content: flex-start; 
 
 }
 .left h1 {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(120, 250, 250, 0.2), rgba(198, 249, 249, 0.2));
  font-size: 100px;
  font-weight: bold;
  position: absolute;
  width: 100%;
  height: 550px;
  z-index: 1;
 }
 .containerRightDemonstration {
 
  width: 54%;
  height: 300px;
  
  margin-left: 500px;
  
}

.rightDemonstration {
  width: 100px;
  height: 100px;

}

 .left1 {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255); 
  margin-top: 23%;

 }
 

.advantages {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 100px 50px;
  background-color: white;

}

.leftAdvantages {
  width: 450px;
  margin: 0 auto;
 
}

.leftAdvantages h1 {
  font-size: 100px;
  font-weight: bold;
  color: #061923;
 
}

.leftAdvantages h2 {
  color: #7f7f7f;
}

.rightAdvantages {
  margin: 0 auto;
}

.rightAdvantages h4 {
  color: #061923;
  font-weight: bold;
}

.containerAdvantages {
  display: flex;
  align-items: center;
  width: 500px;
}

.informationsAdvantages {
  margin: 30px 0 0 20px;
}

